.encabezadoFoo--color {
  color: yellow; }

.encabezadoFoo a {
  color: yellow; }

.navbar-expand-lg .navbar-collapse {
  background-color: #343a40; }

.bg-light {
  background-color: #343a40 !important; }

.navbar-toggler {
  background-color: white; }

.navbar-light .navbar-brand {
  color: yellow; }

.navbar-light .navbar-nav .nav-link {
  color: white; }

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: white; }

.card-title {
  text-align: center; }

.encabezado--color {
  color: black;
  background-color: rgba(255, 255, 0, 0.863); }

.card {
  background-color: rgba(255, 255, 0, 0.829); }

.fondocolor {
  background-color: #ffffff; }

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: yellow; }

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: yellow; }

.list-group-item.active {
  background-color: rgba(255, 255, 0, 0.884);
  border-color: yellow;
  color: black; }

.logoFooPoleas {
  color: yellow; }

.fooback {
  background-color: black; }

footer {
  background-color: #343a40; }

.tituloPoleas {
  background-color: rgba(255, 255, 0, 0.877); }

.logoFooContacto {
  color: yellow;
  font-size: 40px; }

.encabezadoContacto {
  background-color: yellow; }

.encabezadoEng {
  background-color: yellow; }

.logoFooEngranajes {
  color: yellow;
  background-color: black;
  font-size: 40px; }

.subtitulo {
  background-color: yellow; }

.parrafoIndex--color {
  color: white;
  background-color: rgba(0, 0, 0, 0.664); }

.encabezadoFoo--fsize {
  font-size: 40px; }

.parrafoIndex--fsize {
  font-size: 17px; }

.encabezado--fsize {
  font-size: 30px; }

.encabezadoFoo--fsize {
  border-radius: 2px; }

.navbar-brand {
  font-size: 40px; }

.bg-light {
  border-radius: 0px; }

.logoFooPoleas {
  font-size: 40px; }

.logoFooCorreas {
  font-size: 40px; }

.form-control {
  text-align: center; }

.subtitulo {
  margin: 10px;
  border-radius: 5px;
  padding: 3px; }

.encabezado {
  margin: 60px;
  text-align: center;
  border-radius: 20px; }

.parrafoIndex {
  text-align: center;
  padding: 20px;
  margin: 10px;
  margin-bottom: 30px;
  border-radius: 8px; }

.card :hover {
  transition: all 1s;
  transform: translateY(-10px); }

.navbar-nav :hover {
  transition: all 1s;
  transform: translateY(-7px); }

.card {
  text-align: center; }

.encabezadoFoo {
  margin: 30px; }

.list-group-item-action {
  text-align: center; }

.encabezadoPoleas {
  text-align: center;
  margin: 30px; }

.logoFooPoleas {
  text-align: start;
  margin-top: 20px; }

.parrafoPoleas {
  text-align: center; }

.tituloPoleas {
  margin-top: 130px;
  margin-bottom: 20px;
  border-radius: 20px;
  text-align: center; }

.encabezadoEng {
  margin-top: 130px;
  margin-bottom: 20px;
  border-radius: 20px;
  text-align: center; }

.logoFooCorreas {
  color: yellow;
  background-color: black;
  margin-top: 20px; }

.encabezadoCorreas {
  text-align: center;
  margin-bottom: 40px; }

.parrafoCorreas {
  text-align: center;
  margin-bottom: 30px; }

.tituloCorreas {
  margin-top: 130px;
  margin-bottom: 20px;
  background-color: yellow;
  text-align: center;
  border-radius: 20px; }

.encabezadoFoo a {
  text-decoration: none; }

.encabezadoContacto {
  margin-top: 150px;
  margin-bottom: 40px;
  text-align: center;
  border-radius: 20px; }

.parallax {
  background-image: url(../img/engranajes-3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 90%;
  height: 400px; }

.redes {
  list-style-type: none;
  display: flex;
  justify-content: center;
  color: yellow;
  position: relative;
  padding-left: 15px; }

.redes i {
  padding: 5px;
  margin: 5px; }

.redes li a {
  text-decoration: none; }

.copy {
  position: relative;
  margin-top: 20px; }

html {
  margin: 0px;
  padding: 0px; }

/* ESCRITORIO*/
@media only screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end; }
  .rowprueba {
    padding-left: 90px;
    padding-right: 90px;
    justify-content: center; }
  .encabezadoFoo {
    display: flex;
    justify-content: center;
    position: relative;
    padding-left: 20px; }
  .img-fluid {
    background-image: url(../img/engranajes-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px; } }

/* MOBILE */
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .rowprueba {
    justify-content: center; } }
